spring:
  application:
    name: snpc
  datasource:
    url: jdbc:postgresql://snpc-database:5433/snpc_db
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

server:
  servlet:
    context-path: /api
  port: ${SERVER_PORT:9999}